<style type="text/css">
img {
  width: 250px;
  float: left;
  margin-right: 10px;
  margin-bottom: 10px;
}

#images {
  margin-top: 15px;
}
</style>

<button id="start-timelapse">Start timelapse</button>
<button id="stop-timelapse" disabled>Stop timelapse</button>

<div id="images">

</div>
